<!DOCTYPE html>
<html>

<head> 
  <style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  .main {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
  }

  .background-container {
    background-image: url(libbg.png);
    opacity: 0.25;
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .btn {
    width: 100%;
    padding: 10px;
    background-color: #3C362A;
    color: rgb(175 213 217);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .sdbtn {
    width: auto;
    background-color: #3C362A;
    color: rgb(175 213 217);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  button:hover {
    background-color: #44929d;
  }

  .extra-area {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .extra-buttons {
    display: flex;
    justify-content: space-between;
  }

  </style>
</head>

<body>

  <img class="background-container">

  <div class="main">

    <form action="/login" method="post">
      <h2>Login</h2>

      {{#unless valid}}
      <h2>Incorrect username or password!</h2>
      {{/unless}}

      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit" class="btn" id="login">Login</button>
    </form>  

    <div class="extra-area">
      <form action="/register" method="get">
        <div class="extra-buttons">
          <button type="submit" class="sdbtn">Register</button>
        </div>
      </form>

      <form action="/reset" method="get">
        <div class="extra-buttons">
          <button type="submit" class="sdbtn">Forgot Password?</button>
        </div>
      </form>
    </div>

  </div>
     
</body>
</html>